extends layout

block content
  style.
    body {
      background-color: black;
    }
    p {
      color: white;
    }
    label {
      color: white;
    }
  body
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
  script.
    var joinChannel = function() {
      var channel = $('#channelToJoin').val();
      $.ajax({
        url: '/join_channel',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ channel: channel }),
        success: function(data) {
          $("#textToUpdate").text(data.message)
        },
        error: function(error) {
          $("#textToUpdate").text(error.responseJSON.error)
        }
      });
    }
    var banUserFromChannel = function() {
      var channel = $('#channels').val();
      var user = $('#userToBan').val();
      if (user.length > 25) {
        swal(`That username is too long!`, {
          icon: "error",
        });
      }
      else if (user.length == 0) {
        swal(`Username can't be empty!`, {
          icon: "error",
        });
      }
      else {
        swal({
          title: "Are you sure?",
          text: `Ban ${user} from ${channel}?`,
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            $.ajax({
              url: '/ban_user',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({ channel: channel, user: user }),
              success: function(data) {
                swal(`${user} has been banned from ${channel} successfully.`, {
                  icon: "success",
                });
              },
              error: function(error) {
                swal(`Failed to ban ${user}, Error: ${error.responseJSON.error}`, {
                  icon: "error",
                })
              }
            })
          }
        })
      }
    }
    var getMessagesTotal = function() {
      $.ajax({
        url: '/get_messages',
        type: 'GET',
        contentType: 'application/json',
        success: function(data) {
          var messagesTotal = $('#messagesTotal').text("Total messages this session: " + data.total)
          console.log(data)
        },
        error: function(error) {
          console.log(data)
        }
      });
      setTimeout(function() {
        getMessagesTotal()
      }, 1000);
    }
    var getUsers = function() {
      $.ajax({
        url: '/get_users',
        type: 'GET',
        contentType: 'application/json',
        success: function(data) {
          var messagesTotal = $('#usersInChat').text("Current # of users in chat: " + data.total)
          console.log(data)
        },
        error: function(error) {
          console.log(data)
        }
      });
      setTimeout(function() {
        getUsers()
      }, 60000);
    }
    $( document ).ready(function() {
     getMessagesTotal()
     getUsers()
      $.ajax({
        url: '/get_channels',
        type: 'GET',
        contentType: 'application/json',
        success: function(data) {
          var select = document.getElementById("channels")
          for(var i = 0; i < data.length; i++) {
            var opt = data[i];
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = opt;
            select.appendChild(el);
          }
          console.log(data)
        },
        error: function(error) {
          console.log(data)
        }
      });
    });
  form(action='/join_channel', method='POST')
    p
      input(type='text', value='', placeholder="Channel to join", id = "channelToJoin")
      button(onclick='joinChannel()' type='button' id='testButton') Join Channel
      p(id="textToUpdate")
    p
      select(name="channels" id="channels")
      input(type='text', value='', placeholder="User", id = "userToBan")
      button(onclick='banUserFromChannel()' type='button' id='testButton') Ban
      p(id="ban")
    p(id = "messagesTotal")
    p(id = "usersInChat")